startup --host_jvm_args=-Dbazel.DigestFunction=SHA256
build --strategy=Scalac=worker
build --strict_proto_deps=off
build --strict_java_deps=error
test --strategy=Scalac=worker
test --test_output=errors
test --test_arg=--jvm_flags=-Dcom.google.testing.junit.runner.shouldInstallTestSecurityManager=false
test --test_arg=--jvm_flags=-Dwix.environment=CI
build --experimental_ui
test --experimental_ui
test --test_tmpdir=/tmp
test --action_env=BUILD_TOOL=BAZEL
test --action_env=DISPLAY
build --java_toolchain=@core_server_build_tools//toolchains:wix_default_java_toolchain
